[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/filesystem"]
	path = third_party/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "third_party/StaticJSON"]
	path = third_party/StaticJSON
	url = https://github.com/netheril96/StaticJSON.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/toml11"]
	path = third_party/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "third_party/variant"]
	path = third_party/variant
	url = https://github.com/mpark/variant.git
[submodule "third_party/embree-aarch64"]
	path = third_party/embree-aarch64
	url = https://github.com/lighttransport/embree-aarch64.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL
